@import url(fonts.css);


header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "cuerpo";
    font-weight: bold;
}

header div img {
    width: 100px;
    margin-left: 100px;
}

header nav {
    display: flex;
    justify-content: left;

}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    background: transparent;
    border-width: 2px;
    border-style: ridge;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

header nav a::before,
header nav a::after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    border-style: ridge;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out;
}

header nav a::before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

header nav a::after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

header nav a:hover::before,
header nav a:hover::after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
}

header nav.borderless a {
    border-color: rgba(0, 0, 0, 0);
}

header nav.borderless a:hover {
    border-color: rgb(110, 110, 110);
    background-color: transparent;
}

header nav.borderless a::before,
header nav.borderless a::after {
    border-color: transparent;
}

header nav.borderless a:hover::before,
header nav.borderless a:hover::after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: rgb(110, 110, 110);
}

.icon img {
    width: 20px;
    margin-right: 70px;
}